.filter-button {
  height: 30px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.2px 6.4px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  column-gap: 3px;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    background-color: rgba(255, 255, 255, 0.18);
  }
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.active-filter-button {
  background-color: rgba(255, 255, 255, 0.18);
}
